<nav class="qa-blue-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">QAvalidator</a>
        {% assign default_paths = site.pages | map: "path" %}
        {% assign page_paths = site.header_pages | default: default_paths %}

        <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="/getstarted/">Getting Started</a></li>
            <li><a href="/examples/">Examples</a></li>
            <li><a href="/static/doc/qav-doc.html">Documentation</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/getstarted/">Getting Started</a></li>
            <li><a href="/examples/">Examples</a></li>
            <li><a href="/static/doc/qav-doc.html">Documentation</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>