// CI colors

$qa-base: rgb(40, 80, 125);
$qa-blue-1: rgb(40, 80, 125);
$qa-blue-2: rgb(57, 129, 199);
$qa-blue-3: rgb(110, 172, 242);
$qa-blue-4: rgb(156, 206, 255);
$qa-grey-1: rgb(36, 36, 36);
$qa-grey-2: rgb(86, 86, 86);
$qa-grey-3: rgb(186, 186, 186);
$qa-grey-4: rgb(229, 229, 229);
$qa-grey-5: rgb(127, 127, 127);

